<!doctype html>
<html>
  <head>
    <title>Пример страницы на HTML5</title>
    <meta charset=utf-8>
  </head>
  <body>
    <header>
      <h1 class="headhead" style="display: block">Header one</h1>
    </header>
    <nav>
      <a href="link1.html">first link text</a>
      <a href="link2.html">second link text</a>
      <!--
        Comment
      -->
    </nav>
    <section>
      <article>
        <input type="text" value="groza" data-rel="foo" />
        <p><%= @ruby_variable %></p>
        <%= link_to 'goodbye Earth', 'link3.html' %>
      </article>
    </section>
    <footer>
      <p>Copyright: &copy; Belka</p>
    </footer>
  </body>
</html>